@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

.title {
  font-family: "Raleway", sans-serif;
  color: #f0f0f0;
  font-size: 1rem;
}

.button {
  font-weight: 600;
  padding: 1rem 1.5rem;
  background-color: #f0a202;
  border: none;
  outline: none;
  color: #191919;
}

.about-proyect-paraghraph {
  font-family: "Raleway", sans-serif;
  color: #f0f0f0;
}
