.title__cantidad {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0;
}

.btn__cantidad__plus {
  outline: none;
  width: 36.65%;
  border-radius: 10px 0px 0px 10px;
  border: none;
}

.btn__cantidad__minus {
  outline: none;
  width: 36.65%;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.btn__cantidad__plus:hover,
.btn__cantidad__minus:hover {
  background-color: #d9d9d9;
}

.contador {
  width: 200px;
  padding: 20px;
  height: 50px;
}
