@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

footer {
  background-color: rgba(19, 19, 19, 0);
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin-top: 5rem;
}

.footer img {
  width: 8rem;
}

.goldenButton {
  background-color: #c89500 !important;
}

.goldenButton:hover{
  background-color: transparent !important;
}

p {
  font-size: 15px;
  font-weight: 100;
  color: rgba(240, 240, 240, 0.799);
  line-height: 1.5rem;
}

.titleFooter {
  font-size: 20px;
  font-weight: 700;
  font-family: "Quattrocento", serif;
  color: rgba(240, 240, 240, 0.799);
}

@media (max-width: 576px) {
  .footerSection {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footerColumn {
    width: 100%;
    margin-top: 1rem;
  }
  #menuColumn {
    display: none;
  }
}

.footerLinks {
  line-height: 1.5rem;
}
