@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

footer {
  background-color: rgba(74, 21, 29, 0.792);
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.footer img {
  width: 100px;
}

.goldenButton {
  background-color: #c89500;
}

p {
  font-size: 15px;
  font-weight: 100;
  color: rgba(240, 240, 240, 0.799);
  line-height: 1.5rem;
}

.titleFooter {
  font-size: 20px;
  font-weight: 700;
  font-family: "Quattrocento", serif;
}

#newsletter1 {
  background-color: rgba(240, 240, 240, 0.799);
}
