.slider {
  /*     object-position: center;
    background-repeat: no-repeat;
    background-position: center; */
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.carousel {
  height: 80vh;
}
