.hr__micuenta {
  color: white;
}

.text__iniciar__sesion {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.text__yellow {
  color: #fbb701;
}

.salir {
  color: white;
}

a {
  text-decoration: none;
}

a:hover,
.texto-white:hover {
  color: #fbb701;
  transition: 0.15s;
}

.texto-white {
  color: white;
}

.hr__misDatos {
  margin-top: 2px;
  margin-bottom: 10px;
}

.btn__editar {
  background-color: #c89500;
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -4px;
  margin-bottom: 4px;
}

.edit__icon {
  font-size: 16px;
  margin-top: -2px;
}

.input__editar__perfil {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  margin-top: -3px;
}

.input__editar__perfil::placeholder {
  color: white;
}

.icon__Warning {
  font-size: 35px !important;
  margin-bottom: 5px;
}
