.difuminado__modal {
  background-color: rgba(19, 19, 19, 0.6);
  transition: 0.5s;
}

.modal__body {
  background-image: linear-gradient(rgba(23, 23, 23, 0.5) 10%, rgba(23, 23, 23, 0.5) 100%),
    url("../assets/images/fondonegrotexturado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30rem;
  border-radius: 3px;
  border: solid #484848 1px;
  color: #f0f0f0;
  display: flex;
  justify-items: center;
}

.btn__modal {
  height: 3rem;
  width: 80%;
  margin-bottom: 0.8rem;
  border-radius: 15px;
  border: none;
  outline: none;
}

.modal__header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  color: #f0a202;
  font-size: 50px;
}

.button__person,
.button__person:hover,
.button__person:focus {
  border: none;
  outline: none;
  background-color: transparent;
}

.input__modal {
  height: 3rem;
  width: 80%;
  margin-bottom: 0.8rem;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.btn__login {
  height: 2.5rem;
  width: 30%;
  margin-bottom: 0.8rem;
  border-radius: 20px;
  margin-top: 10px;
  border: solid 1px rgb(19, 19, 19) !important;
  outline: none;
  background-color: #f0a202;
  color: rgb(19, 19, 19);
  font-weight: 700;
}

.color-yellow {
  color: #f0a202;
}

.btn__link__modales {
  background-color: transparent;
  border: none;
  outline: none;
}

.input__name{
  margin-left: 5%;
  margin-right: -5%;
}

.input__lastname{
  margin-right: 5%;
  margin-left: 7%;
}

.input__checkbox{
  width: 80%;
  padding-left: 10px;
}

#flexCheckDefault{
  background-color: #f0a202;
  border:none;
}

.parrafo__modal__welcome{
  margin-top: -1rem;
}

.input__modal__welcome{
  height: 2.3rem;
  width: 40%;
  margin-bottom: 0.8rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  display: inline;
}

.button__welcome{
  height: 2.5rem;
  width: 40%;
  margin-bottom: 0.8rem;
  border-radius: 5px;
  border: solid 1px rgb(19, 19, 19) !important;
  outline: none;
  background-color: #f0a202;
  color: rgb(19, 19, 19);
  font-weight: 700;
}

.modal__body__welcome {
  background-image: linear-gradient(rgba(23, 23, 23, 0.5) 10%, rgba(23, 23, 23, 0.5) 100%),
    url("../assets/images/fondonegrotexturado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: solid #484848 1px;
  color: #f0f0f0;
  display: flex;
  justify-items: center;
}


