.card__payment {
  color: white;
  padding: 15px;
  height: 410px;
  background-color: #191919;
  border: solid #434343 0.1px;
  border-radius: 3px;
  margin-top: 1.5rem;
  margin-left: 30px;
  display: flex;
  height: 100%;
}

.button__pagar__final {
  background-color: #fbb701;
  padding: 20px;
  color: #363329;
  border: none;
  outline: none;
  width: 200px;
  font-weight: 700;
  margin-top: 20px;
  border-radius: 0px;
  height: 60px;
  width: 70%;
}
