@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;400;500&display=swap");

h5 {
  line-height: 1.5rem;
  font-family: "Urbanist", sans-serif;
  color: rgba(240, 240, 240, 0.799);
  font-weight: bold;
}

.nav_black {
  background-color: #191919;
  transition: all 0.45s;
}

#header {
  height: 5rem;
}

.sticky-top {
  background-color: rgba(0, 0, 0, 0.7);
}

img {
  width: 8rem;
}

.navbar-link {
  color: rgba(240, 240, 240, 0.799);
  text-decoration: none;
  line-height: 1.5rem;
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
}

.navbar-link:hover {
  color: #fbb701;
  line-height: 1.5rem;
}
@media (max-width: 576px) {
  .navbar-link {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-link {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-responsive {
    font-size: 15px;
  }
  .hamburguerIcon {
    display: none;
  }
}

@media (min-width: 576px) {
}

@media (max-width: 992px) {
  .headerIcons {
    gap: 10px;
  }
  .navbar-responsive {
    font-size: 12px;
  }
}
