@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

.shop-single-item-button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 16rem;
}
.cart-button {
  font-weight: 600;
  width: 6rem;
  padding: 0.5rem 1rem;
  background-color: #fbb701;
  border: 1px solid #fbb701;
}
.more-info-button {
  width: 6rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #fbb701;
  color: #fbb701;
  font-weight: 600;
  margin-left: 0.3rem;
}

.single-item-card {
  transition: ease-in-out 0.3s 0.3s;
}

.spinner__wines {
  padding-bottom: 10%;
  padding-right: 20%;
}

.wine__title {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.5;
  color: white;
  display: block;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  clear: both;
  font-weight: 400;
}
.card {
  border: 1px solid rgba(230, 8, 8, 0.596) !important;
}

.card-body {
  padding-left: 0.8rem !important;
  padding-right:0.8rem !important ;
}

