@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");


.title {
  font-family: "Raleway", sans-serif;
  color: #f0f0f0ea;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 350;
  padding: 0;
}

.promo-button-mobile {
  font-weight: 700;
  padding: 0.5rem 1rem;
  background-color: #f0a202;
  border: 1px solid #f0a202;
  font-weight: 700;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  left: 12rem;
}
