.link {
  color: #f0f0f0;
}

.button_flecha {
  width: 50px;
  display: inline;
  background-color: transparent;
  color: #f0a202;
  border: none;
  outline: none;
}

.input__search{
  border-radius: 20px;
  border:none;
  outline: none;
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;

}

.searchicon{
  color:black;
  margin-right: -28px;
  margin-top: 9px;
  z-index: 2;

}
