.link {
  color: #f0f0f0;
}

.button_flecha {
  width: 50px;
  display: inline;
  background-color: transparent;
  color: #f0a202;
  border: none;
  outline: none;
}

.input__search{
  border-radius: 20px;
  border: 1px solid white;
  outline: none;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 250px;
  background-color: #19191963;
  font-size: 15px;
  color: white;
}

.searchicon{
  color:white;
  margin-right: -30px;
  margin-top: 10px;
  z-index: 2;
}

.input__search::placeholder{
  color:white;
}

