.wine-title {
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.5;
  color: #f0f0f0;
  display: block;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 13%;
  clear: both;
  font-weight: 400;
  padding-top: 4px;
  text-decoration: none;
}

.App {
  min-height: 100vh;
}

.scrollIcon {
  background-color: transparent !important;
  border: 1px solid #f0f0f0 !important;
}

@media (max-width: 990px) {
  .App {
    background-image: linear-gradient(rgba(19, 19, 19, 0.3) 10%, rgba(19, 19, 19, 0.4) 100%),
      url("https://res.cloudinary.com/dazcipdps/image/upload/v1663942926/ecommerce/f49j4mo5akf3ttxp9did.jpg") !important;
    background-size: cover !important;
    /*  background-repeat: repeat !important; */
  }
}
